.popup__save {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  outline: none;
  width: 100%;
  min-height: 50px;
  margin-top: 13px;
  /* margin-bottom: 36px; */
  transition: 0.2s;
  opacity: 1;
  border-radius: 2px;
}

.popup__save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 475px) {
  .popup__save {
    margin-top: 35px;
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
