.popup__photo {
  position: relative;
  /* position: relative;
  background-color: #ffffff;
  background-image: url(https://images.unsplash.com/photo-1677939748562-9289efc24bf7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1642&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  width: 75vw;
  height: 75vh;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); */

}

@media screen and (max-width: 475px) {
  .popup__photo {

  }
}
